
/*####################
CARD SELECTORS
####################*/
body {
  background-color:white !important;
}
body * {
  font-size:6vh;
  transition:none !important;
}
.card {
    position: relative;
    user-select: none;
    height:97vh;
    margin-top:1vh;
    margin-left:1vh;
    pointer-events:none;
    border-radius:5vh;
    aspect-ratio:75/100;
}
body .card:active {
  filter: brightness(1.5);
}
.card-content {
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.cards-titleDown .card .card-content {
  flex-direction:column-reverse;
}
.cards-titleDown .card-title-container {
  position:relative;
  top:-2vh;
}
.card-img-container {
  flex-grow:1;
  height:100%;
  width:100%;
  border:2vh solid transparent;
  box-sizing:border-box;
  background: var(--image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events:none;
}
.card.castable .card-img-container {
  background-position: bottom;
  transform:scale(1.5) translatey(-15%);
  filter:drop-shadow(0 0 2vh var(--bg-accent))
  drop-shadow(0 2vh 2vh var(--bg-accent));
  margin-top:-2.5vh;
  margin-bottom:-2.5vh;
}
.card-title-container {
  z-index:1;
  margin-bottom:-1vh;
  padding: 0 2vh;
  border-bottom-left-radius:2vh;
  border-bottom-right-radius:2vh;
}
.card.darkness {
  z-index:0;
}
.card.darkness .card-title-container {
  display:none;
}
.card-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition:0.3s;
  margin-top:2vh;
  filter:brightness(4) saturate(0.5);
}
.card-title * {
  flex-grow: 1;
  text-align: center;
  line-height:1em;
}
.card-title {
  color: var(--color-text);
}
.card-title .card-title-char {
  font-size:1.6em;
  margin-top:0px;
  /* color:var(--bg); */
}
.card-title .card-subtitle-char, .card-title .card-supertitle-char {
  font-size: 1em;
  max-width:1.3em;
}
.card-desc {
  position:absolute;
  /* opacity:0;
  bottom:calc(100% - 10px); */
  opacity:1;
  top:calc(100% + 2vh);
  width:100%;
  color:var(--color-text);
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;
  font-style:italic;
  transition:0.3s;
  filter:drop-shadow(0 0 2.5vh var(--bg-shadow));
  user-select:none;
  pointer-events:none;
}
/* .card:hover .card-desc {
  opacity:1;
  bottom:calc(100% + 10px);
} */
.card-bg {
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  bottom:0;
  overflow: hidden;
  background-color:var(--bg-accent-translucent);
  box-shadow:0 1vh 0 var(--bg-accent-translucent),
             0 1vh 0 var(--bg);
  border-radius: inherit;
}
.card.drag_ghost .card-bg {
  background-color:transparent;
}
.card-bg::before {
  content:"";
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background-color:var(--bg);
  opacity:0.3;
}
.card-bg .card-bg-circle {
  --finalDiameter:calc(100% - 20% * var(--index));
  width:var(--finalDiameter);
  aspect-ratio:1 / 1;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  margin-top:4vh;
  background-color:var(--bg);
  border-radius:10000px;
  opacity:0.1;
}
.cards-titleDown .card-bg .card-bg-circle {
  margin-top:-2vh;
}
.card.starCard .card-bg {
  background:url("../resources/img/stars.png"), url("../resources/img/night-sky.png");
  background-size:300%;
  background-position:center;
}
.card.part .card-bg::before {
  opacity:0.7;
}
.card.part {
}