/*####################
DARK OVERLAY SELECTORS
####################*/
.DarkOverlay {
  z-index:40000;
  opacity:1;
  transition:0.3s opacity;
  pointer-events:none;
}
.DarkOverlay .darkOverlay-onclickVanishable-controls {
  display:none;
}
.DarkOverlay.state-onclickVanishable .darkOverlay-onclickVanishable-controls {
  display:block;
}
.DarkOverlay.state-visible > * {
  pointer-events:all;
}
.DarkOverlay .state-invisible > * {
  pointer-events:none;
}
.darkOverlay-bg {
  background:var(--bg-shadow-dark);
  z-index:-1;
  transition:0.3s;
}
.starLayer {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:30vw;
  height:30vw;
  opacity:1;
  /* transition:0.8s; */
  background:url("../resources/img/stars-nebulaeless.png");
  background-size:70%;
  -webkit-mask:radial-gradient(circle, black 30%, transparent 70%);
}
.starLayer {
  --duration-spin:1000s;
  --duration-scroll:600s;
  width:60vw;
  height:60vw;
  animation:var(--duration-spin) infinite linear alternate-reverse centeredSpin,
            var(--duration-scroll)  infinite linear alternate-reverse scrollBg;
}
.starLayer.starLayerOne {
  --duration-scroll:150s;
  background-size:80%;
  opacity:0.7;
  z-index:2;
}
.starLayer.starLayerTwo {
  --duration-scroll:1000s;
  background-size:60%;
  opacity:0.55;
  z-index:1;
}
.starLayer.starLayerThree {
  --duration-scroll:5000s;
  background-size:20%;
  opacity:0.55;
  z-index:0;
  filter:hue-rotate(100deg) saturate(100);
}
.darkOverlay-bg:before {
  content:"";
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  transition:0.3s;
  background:radial-gradient(circle, transparent 50%, var(--bg-shadow-red) 85%);
}
.darkOverlay-bg:hover:before {
  opacity:0.3;
}
.DarkOverlay.state-visible {
  opacity:1;
}
.DarkOverlay.state-invisible {
  opacity:0;
}
.CardSelection {
  padding:20px;
}
.cardSelection-cardContainer {
  width:fit-content;
  max-width:100vw;
  flex-wrap:wrap;
}
.cardSelection-cardContainer .card {
  margin:0 30px;
  margin-bottom:100px;
  transition:0.2s scale, 0.2s filter;
  filter: drop-shadow(0 0 0 transparent);
}
.cardSelection-cardContainer .card .card-desc {
  width:calc(100% + 54px);
  transform:translatex(-27px);
}
.cardSelection-cardContainer .card:hover {
  filter: drop-shadow(0 0 60px rgb(255,255,255,0.6)) brightness(1.2);
  scale:1.05;
}
.cardSelection-cardContainer .spacer {
  opacity:1;
  background-color:rgb(200,200,200);
  width:15px;
  height:15px;
  transform:translatey(-47px) rotate(45deg);
}
.cardSelection-cardContainer .card .card-desc b {
  color:var(--bg);
  filter:brightness(2) saturate(0.5);
}
.cardSelection-cardContainer .card .card-desc .card-desc-technical {
  margin-top:5px;
}
.cardSelection-desc {
  margin-top:5px;
  margin-bottom:30px;
}