/*####################
DRAG SELECTORS
####################*/
.drag_ghost {
    position:absolute;
    transform:translate(calc(-50% + var(--drag-left)),calc(-50% + var(--drag-top)));
    z-index:20000 !important;
    opacity:0.3;
    pointer-events:none;
    box-shadow:0 10px 30px var(--bg-accent);
}
.drag_ghost.state-vanished {
    transform:translate(-50%,-50%) scale(0);
}
.card.drag_ghost .card-desc {
    display:none;
}