/*#########
FONTS
#########*/
@font-face {
  font-family: 'Raleway Light';
  font-weight: 400;
  src: url("../resources/fonts/Raleway.ttf");
}
@font-face {
  font-family: 'Raleway Black';
  font-weight: 1000;
  src: url("../resources/fonts/Raleway.ttf");
}
@font-face {
  font-family: 'Raleway Bold';
  font-weight: 700;
  src: url("../resources/fonts/Raleway.ttf");
}
@font-face {
  font-family: 'Raleway Heavy';
  font-weight: 1000;
  src: url("../resources/fonts/Raleway.ttf");
}
@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  src: url("../resources/fonts/Rubik.ttf");
}
@font-face {
  font-family: 'Overpass';
  font-weight: 400;
  src: url("../resources/fonts/Overpass.ttf");
}
@font-face {
  font-family: 'Overpass Heavy';
  font-weight: 700;
  src: url("../resources/fonts/Overpass.ttf");
}