/*####################
INVENTORY SELECTORS
####################*/
.inventoryParent {
  position:absolute;
  width:fit-content;
  height:var(--card-height);
  display:flex;
  justify-content:center;
  padding:0 calc(var(--card-width) * 0.5);
  transition:0.3s;
  opacity:1;
}
.ExternalInventoryContainer .inventoryParent.state-vanished {
  opacity:0;
}
.ExternalInventoryContainer .inventoryParent.state-vanished * {
  pointer-events:none;
}
.inventory {
  display:flex;
  /* width:100%; */
  /* overflow:hidden;
  justify-content:center; */
}
.ExternalInventoryContainer {
  position:absolute;
  left:50%; 
  transform:translatex(-50%);
  z-index:14000;
  bottom:100%;
  transition:opacity 0.2s,padding-right 0.3s;
  display:flex;
}
.ExternalInventoryContainer .inventoryParent {
  position:relative;
  padding-top:40px;
  translate:0 100%;
  transition:translate 0.2s, opacity 0.2s;
  opacity:1;
  min-width:calc(var(--card-width) * 1.5);
  margin:0 15px;
}
.ExternalInventoryContainer .inventoryParent:hover {
}
.ExternalInventoryContainer.state-hidden {
  opacity:0;
  transform:translate(-50%,0%);
}
.inventory-bg {
  --rotation:180deg;
  z-index:-1;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  filter:drop-shadow(0 0 10px var(--bg-accent));
  background-color:var(--bg-inventory);
  background-image:url("../resources/img/cosmilight-bg-circles-translucent.png");
  background-size:cover;
  background-repeat:none;
  background-position:center;
  translate:0 0;
  transition:translate 0.2s;
  -webkit-mask:linear-gradient(var(--rotation), black 0%, transparent 100%);
  /* -webkit-mask-composite:intersect; */
  /* mask:url("../resources/img/bg-mask.png"); */
}
body:not(.dragging) .ExternalInventoryContainer .inventory-bg:hover {
  background-color:var(--bg-shadow-red);
}
body.dragging .inventory-bg:hover {
  background-color:var(--bg-accent-light);
}
.ExternalInventoryContainer .inventoryTitle {
  position:absolute;
  display:block;
  top:5px;
  left:50%;
  transform:translatex(-50%);
  color:white;
  white-space:nowrap;
  pointer-events:none;
  translate:0 0;
  user-select:none;
  transition:translate 0.2s;
  filter:drop-shadow(0 0 5px black) drop-shadow(0 0 10px black);
}
.ExternalInventoryContainer * {
  pointer-events:all;
}
.inventory .card {
  transform:none;
  position:relative;
  margin-left:5px;
  margin-right:5px;
}