/*####################
STRUCTURE SELECTORS
####################*/
.StructureDetailDisplay {
  z-index:15000;
  position:absolute;
  top:50%;
  right:20px;
  transform:translatey(-50%);
  translate:0px 0;
  /* transform:translate(calc((var(--x) * 1px) + (var(--tile-width) / 2)),calc((var(--y) * 1px) + (-50% - 20px))); */
  opacity:1;
  transition:translate 0.3s, opacity 0.3s;
  width:400px;
  background:linear-gradient(90deg, var(--bg-inventory) 0%, transparent 100%);
}
.StructureDetailDisplay .titleContainer:hover {
  background:linear-gradient(90deg, var(--bg-shadow-red) 0%, transparent 100%);
}
.StructureDetailDisplay.state-vanished {
  pointer-events:none;
  opacity:0;
  translate:20px 0;
}
.StructureDetailDisplay .titleContainer {
  padding:10px;
}
.StructureDetailDisplay .statContainer {
  padding:0 10px 10px 10px;
}