/* 
##############
Z-INDEX LAYERS 
##############
--- debug layer = 100,000
debug-fps = 100,000

Tooltips = 90,000
.DarkOverlay = 40,000
.drag_ghost = 20,000
---- world layer max: 9999
.Vignette = 9999
.GraphicsLayer - 6000
  .EffectLayer = 4
  .LightCanvas = 3
  .DarkCanvas = 1
.TileGrid = 5,000

.controls are 20000 relative to their current position.
*/
:root {
  --bg-main: #1F3042;
  --bg-accent: rgb(15, 23, 31);
  --bg-white: #deebee;
  --bg-white-dark: #cddcdf;
  --bg-accent-light: #99acbe75;
  --bg-accent-translucent: rgba(23, 35, 48, 0.6);
  --bg-inventory: rgba(27, 36, 66, 0.418);
  --bg-shadow: rgba(15, 0, 30, 0.6);
  --bg-shadow-dark: rgba(10, 0, 20, 0.8);
  --bg-shadow-dark-opaque:rgb(12, 7, 25);
  --bg-shadow-red: rgba(100, 32, 56, 0.6);
  --color-nature: #2fbb7a;
  --color-spell: #2fcfd5;
  --color-spell-gather: #2FD5AA;
  --color-spell-damaging: #cf365c;
  --color-energy: #8753c3;
  --color-energy-complement: #db4885;
  --color-health: #ff1884;
  --color-health-complement: #ff97d7;
  --color-water: #6b4afc;
  --color-water-complement: #94e6ff;
  --color-fire: #ff4664;
  --color-fire-complement: #ffce46;
  --color-item: #bc9cc8;
  --color-part: #7664da;
  --color-light: #ffd864;
  --color-light-complement: rgb(255, 252, 236);
  --color-cycle: #48286d;
  --color-cycle-complement: #9c4c7d;
  --color-knowledge: #12d48a;
  --color-knowledge-complement: #257ec7;
  --color-text: rgb(230,230,230);
  --color-item: #46627a;
  --color-researchItem: #bd84ff;
  --color-activeItem: #ffca84;
  --color-researchSpell: rgb(8, 137, 160);
  --color-researchStructure: rgb(135, 47, 207);
  --color-researchGeneral: rgb(201, 53, 122);
  --color-text-accent: rgb(200, 200, 200);
  --card-width: calc(var(--card-height) * 0.75); /*default calc(var(--card-height) * 0.75)*/
  --card-height: 17vh; /*default 200px, rougly 20vh*/
  --tile-width:6vw;
  --tile-height:6vw;
  --visionRadius:3.5; /*Diameter of GraphicsLayer in tile units*/
}
/*###########
TAG SELECTORS
###########*/
* {
  margin: 0;
  font-family: "Rubik";
  font-size:20px;
}
body {
  user-select:none;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color:black;
  overflow-anchor: none;
  /* background-image: linear-gradient(rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url("../resources/img/void-bg.png"); */
  /* filter:brightness(2) contrast(1.3); */
}
.Content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  background-image: url("../resources/img/void-bg-darkened.png");
  background-size: cover;
  background-position: center;
  width:100vw;
  height:100vh;
  /* width:100vw;
  height:56.25vw;
  max-height:100vh;
  max-width:177.78vh;
  overflow:hidden; */
}
.blackFont {
  font-family: "Rubik";
  font-weight: 1000;
}
h1, h2, h3, h4, .headerFont {
  font-family: "Raleway Bold";
}
.headerFont-thin {
  font-family: "Raleway Light";
  font-weight: 100;
}
.normalFont {
  font-size:1em;
  font-family: Rubik;
}
button {
  border:3px solid var(--bg-accent-light);
  border-radius:30px;
  padding:2px 30px;
  background-color:var(--bg-inventory);
}
p, span, button {
  font-size:1em;
  color: var(--color-text);
  font-family: Rubik;
}
hr {
  margin-left: 0;
  margin-right: 0;
}
body *.hidden {
  display: none;
}
.invis {
  opacity: 0;
}
.accentText {
  color: var(--color-text-accent);
}
.stylizedText:before {
  content: "🙢";
  display: inline-block;
  margin-right: 5px;
  color: var(--color-text-accent);
}
.stylizedText:after {
  content: "🙠";
  display: inline-block;
  margin-left: 5px;
  color: var(--color-text-accent);
}
/*###############
GENERAL SELECTORS
###############*/
.fillWindow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fillWidth {
  width: 100%;
}
.flex {
  display: flex;
}
.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-break {
  flex-basis: 100%;
  height: 0;
}
.flex-expand {
  flex-grow:1;
}
.txt-lined:before, .txt-lined:after {
  --margin:8px;
  letter-spacing:-3px;
  color:white;
  opacity:0.5;
}
.txt-lined:not(.txt-lined-after):before {
  content:"- – — ——";
  margin-right:calc(3px + var(--margin));
}
.txt-lined:after, .txt-lined-after:after {
  content:"—— — – -";
  margin-left:var(--margin);
}
.txt-size-massive {
  font-size:4em;
}
.txt-size-small {
  font-size:0.8em;
}
.txt-size-header {
  font-size:1.4em;
}
.txt-lore {
  text-align:right;
  max-width:80%;
  margin-left:auto;
  color:var(--color-text-accent);
  font-size:0.8em;
}
.txt-white {
  color: white;
}
.filter-aberration {
  filter:drop-shadow(2px 1px 2px rgb(198, 32, 74)) drop-shadow(-2px -1px 2px rgb(29, 45, 187));
}
.filter-aberration-extreme {
  filter:drop-shadow(4px 1px 2px rgb(198, 32, 74)) drop-shadow(-4px -1px 2px rgb(29, 45, 187));
}
.txt-italic {
  font-style: italic;
}
.pos-absolute {
  position:absolute;
}
.centered-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.hidden {
  display:none;
}
.controls {
  position:absolute;
  bottom:20px;
  right:30px;
  font-size:0.7em;
  z-index:20000;
  text-align:right;
  filter:drop-shadow(0 0 15px var(--bg-shadow)) drop-shadow(0 0 12px var(--bg-shadow)) drop-shadow(0 0 10px var(--bg-shadow));
}
.controls p {
  margin-top:5px;
}
.input {
  padding:3px 15px;
  margin:0 3px;
  padding-bottom:0;
  background-color:var(--bg-white-dark);
  border-radius:5px;
  color:var(--bg-main);
  font-weight:bold;
  font-size:0.9em;
  position:relative;
  top:-1.5px;
  transition:0.05s;
  box-shadow:0 3px 0 var(--bg-accent-light);
}
.input:hover {
  top:1.5px;
  box-shadow:0 0 0 var(--bg-accent-light);
}
/*####################
MISC SELECTORS
####################*/
.clickable {
  text-decoration:underline;
}
.clickable:hover {
  filter:drop-shadow(2px 1px 2px rgb(198, 32, 74)) drop-shadow(-2px -1px 2px rgb(29, 45, 187));
}
.Crosshair {
  pointer-events:none;
  z-index:15000;
  color:white;
  font-size:30px;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,calc(-50% - 10px));
}
.screen.state-disabled {
  display:none;
}
.Screen-Start:before {
  content:"";
  display:block;
  position:absolute;
  left:0;
  top:0;
  z-index:-2;
  width:100%;
  height:100%;
  background-color:var(--bg-shadow-dark);
  -webkit-mask:radial-gradient(circle, black 60%, transparent 90%);
}
.Screen-Start:after {
  content:"";
  display:block;
  position:absolute;
  left:0;
  top:0;
  opacity:0.3;
  z-index:-3;
  width:100%;
  height:100%;
  background:url(../resources/img/night-sky.png);
  background-size:cover;
  background-repeat:no-repeat;
}
.gameHeader {
  margin-bottom:20px;
  text-shadow:0 0 50px rgba(255,255,255,0.7);
  /* filter:drop-shadow(0 0 50px rgb(0,0,0,0)) drop-shadow(2px 1px 2px rgb(198, 32, 74)) drop-shadow(-2px -1px 2px rgb(29, 45, 187)); */
}
.rotatingCircles {
  position:absolute;
  top:47px;
  left:50%;
  transform:translatex(-50%);
  /* left:70px; */
  opacity:0.8;
  width:3px;
  height:3px;
  z-index:-1;
  /* background-color:blue; */
}
.circle {
  --rad:2;
  --spinSpeed:10s;
  --color:var(--color-cycle-complement);
  --thickness:1;
  position:absolute;
  left:50%;
  top:50%;
  width:calc(var(--rad) * 200px);
  height:calc(var(--rad) * 200px);
  border:calc(3px * var(--thickness)) solid var(--color);
  border-radius:1000px;
  animation:var(--spinSpeed) infinite alternate-reverse centeredSpin;
  opacity:0.5;
}
.gameHeader span {
  --x-shake:1;
  --y-shake:1;
  --y-wobble:1;
  animation:3s calc(var(--index) * 0.1s) infinite linear alternate-reverse shake,
              3s calc(var(--index) * 0.3s) infinite linear alternate wobble;
  display:inline-block;
  translate:calc(var(--x-shake) * 0.3px) calc((var(--y-shake) * 0.3px) + (var(--y-wobble) * 3px));
}
.skyContainer {
  background-color:var(--bg-shadow-dark);
  background-image:url("../resources/img/night-sky.png");
  filter:saturate(1.3);
  -webkit-mask:radial-gradient(circle, black 30%, transparent 70%);
  background-size:cover;
  z-index:-2;
  width:70vw;
  height:100vh;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
/*####################
LOG SELECTORS
####################*/
.textDisplay {
  pointer-events:none;
  text-align:center;
  z-index:90000;
  transform:translatey(calc((var(--tile-height) * 0.8) * -1));
}
.PlayerTextDisplay p {
  filter:drop-shadow(4px 1px 2px rgb(198, 32, 74)) drop-shadow(-4px -1px 2px rgb(29, 45, 187)) drop-shadow(0 0 10px var(--bg-shadow));
}
.FollowCursorTextDisplay p {
  filter:drop-shadow(0 0 10px var(--bg-shadow));
}
.textDisplay p {
  --log-persistence:15000ms;
  opacity:0;
  transform:translatey(10px);
  animation:var(--log-persistence) forwards log-fadeInOut;
}
.textDisplay p.log-center {
  filter:drop-shadow(0 0 5px red);
}
.textDisplay p.log-cursor {
  animation:var(--log-persistence) linear forwards log-fadeInOut-cursor;
}
.textDisplay p.log-cursor > span {
  opacity:1;
  animation:none;
  /* animation:0.4s calc(var(--mod-index) * 0.1s) infinite linear alternate-reverse shake; */
            /* 1s calc(var(--rand) * 1s) infinite linear alternate wobble, */
            /* 0.15s forwards log-opaque; */
}
.textDisplay p > span {
  --x-shake:0;
  --y-shake:0;
  --y-wobble:0;
  opacity:0.3;
  animation:1s calc(var(--mod-index) * 0.1s) infinite linear alternate-reverse shake,
            0.4s calc(var(--index) * 0.04s + 0.7s) forwards log-opaque;
  display:inline-block;
  translate:calc(var(--x-shake) * 0.5px) calc(var(--y-shake) * 0.5px);
  white-space:pre;
  will-change:transform;
}
.FollowCursorTextDisplay {
  position:absolute;
  top:0;
  left:0;
}
.PersistentCursorTextDisplay {
  --x:0;
  --y:0;
  position:absolute;
  top:0;
  left:0;
  transform:translate(calc(var(--x) * 1px - 50%),calc(var(--y) * 1px - 100%));
  pointer-events:none;
  color:var(--bg-white);
}
.PersistentCursorTextDisplay.state-down {
  transform:translate(calc(var(--x) * 1px - 50%),calc(var(--y) * 1px - 100%));
}
.PersistentCursorTextDisplay.state-up {
  transform:translate(calc(var(--x) * 1px - 50%),calc(var(--y) * 1px - 200%));
}
.FollowCursorTextDisplay p {
  position:absolute;
  top:calc(var(--y) * 1px);
  left:calc(var(--x) * 1px);
  translate:-50% 400%;
  white-space:nowrap;
  will-change:transform;
}
.log-persistent-cursor {
  position:relative;
  left:5px;
  top:5px;
  transform:translate(50%,100%);
  display:flex;
  flex-wrap:wrap;
  padding:8px 5px 3px 5px;
  justify-content:center;
  align-items:center;
  max-width:240px;
  border:2px solid var(--color-nature);
  background-color:var(--bg-shadow);
}
.log-persistent-cursor-title {
  position:absolute;
}
.log-persistent-cursor.log-persistent-cursor-lore {
  flex-direction:column;
  translate:-50% -20px;
  filter:drop-shadow(0 0 10px var(--bg-shadow-dark));
  font-style:italic;
}
.log-persistent-cursor.log-persistent-cursor-lore * {
  margin:3px 0;
}
.log-persistent-cursor.log-persistent-cursor-reqs {
  flex-direction:row;
  box-sizing:border-box;
  background-color:var(--bg-shadow);
  box-shadow:0 3px 0 var(--bg-shadow-dark);
}
.log-persistent-cursor .log-pretext {
  flex-basis:100%;
  margin-top:-10px;
  margin-bottom:10px;
  font-size:0.8em;
  animation:none;
  opacity:1;
}
.log-persistent-cursor .log-statText, .log-persistent-cursor .log-cardText {
  margin:3px;
  padding:3px 10px;
  border-radius:1000px;
  font-weight:bold;
  background-color:var(--bg);
  position:relative;
  text-transform:capitalize;
}
.log-persistent-cursor .log-statText:before, .log-persistent-cursor .log-cardText:before {
  content:"";
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:calc(100% + 3px);
  z-index:-1;
  background-color:var(--bg);
  border-radius:1000px;
  filter:brightness(0.75) saturate(1.2);
}
.log-persistent-cursor .log-statText {
  --bg:var(--fillColor);
  color:var(--txtColor);
}
.log-persistent-cursor .log-cardText {
  --bg:var(--color);
}
/*############
STAT SELECTORS
############*/
.progressBarParent {
  --fill-color:var(--bg-accent-light);
  --fill-color-accent:var(--bg-white);
  display:flex;
  align-items:center;
  width:100%;
  padding-right:80px;
  box-sizing:border-box;
  position:relative;
}
.progressBarParent > .progressBar-text {
  color:var(--bg-white);
  /* color:var(--fill-color); */
  position:absolute;
  right:5px;
  top:8.5px;
}
.progressBar {
  --calc-width:calc(var(--fill-max) / var(--fill-abs-max) * 100%);
  width:clamp(40%,var(--calc-width),100%);
  height:30px;
  background-color:var(--bg-shadow);
  position:relative;
  border:3px solid var(--fill-color);
  box-sizing:border-box;
  border-radius:20px;
  padding-left:40px;
  padding-right:10px;
  margin:3px 0;
  transition:0.3s;
  display:flex;
  align-items:center;
  background-image:linear-gradient(120deg, transparent 50%, var(--bg-main) 100%);
  /* filter:grayscale(1); */
}
.progressBar:hover {
  height:30px;
  width:100%;
}
.progressBar-icon-debug {
  position:absolute;
  width:24px;
  z-index:3;
  font-size:30px;
  height:24px;
  color:var(--fill-color-accent);
  line-height:24px;
  left:5px;
  top:4px;
}
.progressBar-icon {
  left:0;
  position:absolute;
  width:24px;
  height:24px;
  box-sizing:border-box;
  background-color:var(--fill-color-accent);
  border:3px solid var(--fill-color);
  border-radius:5px;
  top:calc(50% - 4.3px);
  transform:rotate(45deg) translatey(-50%);
  z-index:3;
  background-image:url("../resources/img/cards/resource/water.png");
}
.progressBar-title {
  z-index:2;
  color:var(--fill-color-accent);
  position:relative;
}
.progressBar-fill {
  --overflow-padding-combat:1px;
  border-radius:20px;
  position:absolute;
  z-index:1;
  transition:1s;
  top:calc(var(--overflow-padding-combat) * -1);
  left:calc(var(--overflow-padding-combat) * -1);
  height:calc(100% + var(--overflow-padding-combat) * 2);
  width:calc(var(--fill) / var(--fill-max) * 100% + var(--overflow-padding-combat));
  background-color:var(--fill-color);
  background-image:linear-gradient(90deg, transparent 30%, var(--fill-color-complement) 100%);
  /* background-size:300px; */
}
/*####################
INVENTORY SELECTORS
####################*/
.inventoryParent {
  position:absolute;
  width:fit-content;
  height:var(--card-height);
  display:flex;
  justify-content:center;
  padding:0 calc(var(--card-width) * 0.5);
  transition:0.3s;
  opacity:1;
}
.inventory {
  display:flex;
  /* width:100%; */
  /* overflow:hidden;
  justify-content:center; */
}
.inventory-bg {
  --rotation:180deg;
  z-index:-1;
  width:100%;
  height:50%;
  position:absolute;
  bottom:-10px;
  left:0;
  filter:drop-shadow(0 0 10px var(--bg-accent));
  background-color:var(--bg-inventory);
  background-size:cover;
  background-repeat:none;
  background-position:center;
  translate:0 0;
  transition:translate 0.2s;
  /* -webkit-mask-composite:intersect; */
  /* mask:url("../resources/img/bg-mask.png"); */
}
body.dragging .inventory-bg:hover {
  background-color:var(--bg-accent-light);
}
.inventory .card {
  transform:none;
  position:relative;
  margin-left:5px;
  margin-right:5px;
}
/*#############
TOOLTIP SELECTORS
#############*/
.TooltipTab {
  --color:var(--bg-white);
  position:absolute;
  width:400px;
  border-width:2px;
  z-index:90000;
  background-color:var(--bg-shadow-dark);
  pointer-events:none;
  display:block;
  box-shadow:-1px -1px 5px rgba(255, 0, 51, 0.5),
             1px 1px 5px rgba(0, 38, 255, 0.5);
}
.Tabs .tab.TooltipTab {
  transform:translate(-50%,0);
}
.TooltipTab.state-hidden {
  display:none;
}
.TooltipTab-header {
  width:100%;
  box-sizing:border-box;
  padding:12px;
  background-color:var(--color);
}
.TooltipTab-header * {
  color:black;
  line-height:0.8em;
}
.TooltipTab-body {
  padding:10px 20px;
  background:url("../resources/img/night-sky.png");
  background-size:cover;
  background-position:center;
  border:2px solid var(--color);
}
.TooltipTab-body .description {
  margin:5px 0;
}
.TooltipTab-body .description > * {
  margin:5px 0;
}
.tooltipEffect.type-negative {
  color:var(--color-spell-damaging);
}
.txt-cardName {
  color:var(--color-part);
  font-weight:bold;
}
.TooltipTab-body .description .cardEffect {
  width:calc(100% + 40px);
  padding:5px 30px;
  background-color:var(--color);
  box-sizing:border-box;
  margin:3px -20px;
  position:relative;
}
.cardEffect * {
  color:black;
}
.cardEffect.type-storage {
  display:flex;
  justify-content:space-between;
}
.Vignette {
  background-image:url("../resources/img/light-gradient.png");
  background-size:100%;
  background-position:center;
  opacity:0.3;
  pointer-events:none;
  user-select:none;
  z-index:9999;
}
/*#############
STAT SELECTORS
#############*/
.Stats {
  width:100%;
  height:30px;
  position:absolute;
  top:0;
  left:0;
  display:flex;
  padding:0 5px;
  box-sizing:border-box;
  justify-content:center;
}
.Stats .stat {
  width:100%;
  height:100%;
  max-width:30%;
  margin:10px 5px;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  border-radius:5px;
  justify-content:space-between;
  overflow:hidden;
  position:relative;
}
.Stats .stat:before {
  content:"";
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  background:linear-gradient(90deg, var(--color-main) 0%, var(--color-comp) 100%);
  z-index:-2;
  filter:brightness(0.3) saturate(1.5);
}
.Stats .stat:after {
  content:"";
  display:block;
  position:absolute;
  width:calc(100% * (var(--amt) / var(--max)));
  height:100%;
  background:var(--color-main);
  z-index:-1;
  transition:0.2s width;
}
.Stats .stat p {
  text-shadow:0 0 10px rgba(0,0,0,0.5);
  margin:0 10px;
}
.Stats .stat .statAmt {
  float:right;
}
/*#############
TAB SELECTORS
#############*/
.Tabs {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}
.Tabs .tab {
  --x:0;
  --y:0;
  top:calc(1px * var(--y));
  left:calc(1px * var(--x));
  position:absolute;
  transform:translate(-50%,-50%);
  transition:0.5s opacity, 0.5s transform;
  transition-timing-function:cubic-bezier(0,-0.13, 0, 0.95);
}
.Tabs .tab.state-opened {
  transform:translate(-50%,-50%) scale(1);
  opacity:1;
}
.Tabs .tab.state-closed {
  transform:translate(-50%,-50%) scale(0.5);
  opacity:0;
}
.EyeTab {
  display:inline-block;
}
.GraphicsLayer {
  z-index:6000;
  pointer-events:none;
  user-select:none;
  width:calc(var(--visionRadius) * 2 * var(--tile-width));
  height:calc(var(--visionRadius) * 2 * var(--tile-height));
  overflow:hidden;
  position:relative;
  border-radius:10000px;
  margin:8px;
  /* box-shadow:20px 20px 40px rgba(0,0,0,0.3),
             -20px -20px 40px rgba(255,255,255,0.1); */
  -webkit-mask:radial-gradient(circle, black 65%, transparent 70%);
}
.GraphicsLayer > * {
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  height:100%;
}
.GameBoard {
  width:100%;
  height:100%;
}
.PhysicsBodyCanvas {
  width:100%;
  height:100%;
}
.FogCanvas {
  image-rendering:pixelated;
}
.effect-swish {
  --unit-width:2;
  --thickness:15px;
  --width:calc(var(--tile-width) * var(--unit-width));
  width:calc(var(--width) / 1.2);
  transform:translate(-50%,-50%) rotate(var(--rotation));
  height:var(--width);
  position:absolute;
  top:50%;
  left:50%;
  z-index:100000;
  border-radius:100%;
  filter:drop-shadow(0 0 10px white);
  animation:0.5s forwards cubic-bezier(0.49, 0.01, 0, 1.5) swish-onEnter;
}
@keyframes swish-onEnter {
  0% {
    transform:translate(calc(-50% + var(--x)),calc(-50% + var(--y))) rotate(var(--starting-rotation));
    box-shadow:calc(var(--thickness) * 0.5) 0 white;
    opacity:0;
    width:calc(var(--width) / 1);
    height:calc(var(--width) * 0.9);
  }
  10% {
    opacity:0.2;
  }
  50% {
    opacity:1;
    box-shadow:calc(var(--thickness) * 1.2) 0 white;
    width:calc(var(--width) / 1.2);
    height:calc(var(--width) * 1);
  }
  100% {
    transform:translate(calc(-50% + var(--x)),calc(-50% + var(--y))) rotate(var(--final-rotation));
    box-shadow:calc(var(--thickness) * 0.5) 0 white;
    opacity:0;
    width:calc(var(--width) / 1.2);
    height:calc(var(--width) * 0.9);
  }
}
.effect-bullet {
  --end-x:200px;
  --end-y:200px;
  --init-radius:100px;
  --end-radius:20px;
  border-radius:100%;
  filter:drop-shadow(0 0 10px white);
  position:absolute;
  top:50%;
  left:50%;
  background-color:white;
  animation:0.6s forwards cubic-bezier(0.49, 0.01, 0, 1.04) bullet-onEnter;
}
@keyframes bullet-onEnter {
  0% {
    opacity:1;
    width:var(--init-radius);
    height:var(--init-radius);
    /* transform:translatex(-50%); */
    transform:translate(-50%,-50%);
  }
  70% {
    opacity:0.5;
  }
  100% {
    opacity:0;
    width:var(--end-radius);
    height:var(--end-radius);
    /* transform:translatex(-1000%); */
    transform:translate(calc(-50% + (var(--end-x) - var(--start-x))),calc(-50% - (var(--end-y) - var(--start-y))));
  }
}
/*#########
FONTS
#########*/
@font-face {
  font-family: 'Raleway Light';
  font-weight: 400;
  src: url("../resources/fonts/Raleway.ttf");
}
@font-face {
  font-family: 'Raleway Black';
  font-weight: 1000;
  src: url("../resources/fonts/Raleway.ttf");
}
@font-face {
  font-family: 'Raleway Bold';
  font-weight: 700;
  src: url("../resources/fonts/Raleway.ttf");
}
@font-face {
  font-family: 'Raleway Heavy';
  font-weight: 1000;
  src: url("../resources/fonts/Raleway.ttf");
}
@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  src: url("../resources/fonts/Rubik.ttf");
}
@font-face {
  font-family: 'Overpass';
  font-weight: 400;
  src: url("../resources/fonts/Overpass.ttf");
}
@font-face {
  font-family: 'Overpass Heavy';
  font-weight: 700;
  src: url("../resources/fonts/Overpass.ttf");
}
/*####################
DRAG SELECTORS
####################*/
.drag_ghost {
  position:absolute;
  transform:translate(calc(-50% + var(--drag-left)),calc(-50% + var(--drag-top)));
  z-index:20000 !important;
  opacity:0.3;
  pointer-events:none;
  box-shadow:0 10px 30px var(--bg-accent);
}
.drag_ghost.state-vanished {
  transform:translate(-50%,-50%) scale(0);
}
.card.drag_ghost .card-desc {
  display:none;
}
/*###########
DEBUG SELECTORS
###########*/
/* .draggable {
} */
.debug-fps {
  position:absolute;
  top:20px;
  left:20px;
  color:var(--color-spell-gather);
  font-size:30px;
  z-index:100000;
  opacity:0.3;
}
.debug-dot {
  width:0;
  height:0;
  position:absolute;
  transform:translate(-50%,-50%); 
  border-radius:100px;
  z-index:100000;
  border:7px solid red;
  pointer-events:none;
}
/*####################
DARK OVERLAY SELECTORS
####################*/
.DarkOverlay {
  z-index:40000;
  opacity:1;
  transition:0.3s opacity;
  pointer-events:none;
}
.DarkOverlay .darkOverlay-onclickVanishable-controls {
  display:none;
}
.DarkOverlay.state-onclickVanishable .darkOverlay-onclickVanishable-controls {
  display:block;
}
.DarkOverlay.state-visible > * {
  pointer-events:all;
}
.DarkOverlay .state-invisible > * {
  pointer-events:none;
}
.darkOverlay-bg {
  background:var(--bg-shadow-dark);
  z-index:-1;
  transition:0.3s;
}
.starLayer {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:30vw;
  height:30vw;
  opacity:1;
  /* transition:0.8s; */
  background:url("../resources/img/stars-nebulaeless.png");
  background-size:70%;
  -webkit-mask:radial-gradient(circle, black 30%, transparent 70%);
}
.starLayer {
  --duration-spin:1000s;
  --duration-scroll:600s;
  width:60vw;
  height:60vw;
  animation:var(--duration-spin) infinite linear alternate-reverse centeredSpin,
            var(--duration-scroll)  infinite linear alternate-reverse scrollBg;
}
.starLayer.starLayerOne {
  --duration-scroll:150s;
  background-size:80%;
  opacity:0.7;
  z-index:2;
}
.starLayer.starLayerTwo {
  --duration-scroll:1000s;
  background-size:60%;
  opacity:0.55;
  z-index:1;
}
.starLayer.starLayerThree {
  --duration-scroll:5000s;
  background-size:20%;
  opacity:0.55;
  z-index:0;
  filter:hue-rotate(100deg) saturate(100);
}
.darkOverlay-bg:before {
  content:"";
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  transition:0.3s;
  background:radial-gradient(circle, transparent 50%, var(--bg-shadow-red) 85%);
}
.darkOverlay-bg:hover:before {
  opacity:0.3;
}
.DarkOverlay.state-visible {
  opacity:1;
}
.DarkOverlay.state-invisible {
  opacity:0;
}
.areaFragment {
  --size:230px;
  width:var(--size);
  height:var(--size);
  position:relative;
  transition:0.1s;
  filter:drop-shadow(0 0 0 transparent);
}
.areaFragment:hover {
  filter:drop-shadow(0 0 30px var(--color-activeItem));
}
.areaFragment-bg {
  width:inherit;
  height:inherit;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%) rotate(45deg) scale(0.71);
  background-color:var(--color-item);
  border:12px solid var(--bg-main);
  border-radius:10px;
  box-sizing:border-box;
  transition:0.1s;
}
.areaFragment:hover .areaFragment-bg {
  transform:translate(-50%,-50%) rotate(45deg) scale(0.6);
}
.areaFragment-icon {
  width:calc(var(--size) * 0.71 - 20px);
  height:calc(var(--size) * 0.71 - 20px);
  left:50%;
  top:50%;
  position:relative;
  transform:translate(-50%,-50%);
  border:7px solid white;
  border-radius:100%;
  box-sizing:border-box;
  filter:drop-shadow(0 0 10px black);
  transition:0.1s;
  /* background-image:; */
}
.areaFragment:hover .areaFragment-icon {
  width:calc(var(--size) * 0.71);
  height:calc(var(--size) * 0.71);
  
}
/*############
ANIMATIONS
#############*/
@keyframes bob {
  0% {
    translate: 0 5px;
  }
  100% {
    translate: 0 -5px;
  }
}
@keyframes tile-fadeOut {
  0% {
    opacity:1;
    /* translate:0 0px; */
  }
  100% {
    opacity:0;
    /* translate:0 100px; */
  }
}
@keyframes scrollBg {
  0% {
    background-position:0%;
  }
  100% {
    background-position:1000%;
  }
}
@keyframes tile-fadeIn {
  0% {
    opacity:0;
    /* translate:0 100px; */
  }
  100% {
    opacity:1;
    /* translate:0 0px; */
  }
}
@keyframes glow {
  0% {
    box-shadow:0 0 5px var(--color-light);
  }
  30% {
    box-shadow:0 0 20px var(--color-light);
  }
  100% {
    box-shadow:0 0 0px transparent;
  }
}
@keyframes flash {
  0% {
    filter:brightness(2);
  }
  100% {
    filter:auto;
  }
}
@keyframes expand {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}
@keyframes shake {
  0% { 
    --y-shake:1;
    --x-shake:0; 
  }
  10% { 
    --y-shake:0;
    --x-shake:1; 
  }
  20% { 
    --y-shake:-1;
    --x-shake:1; 
  }
  30% { 
    --y-shake:-1;
    --x-shake:0; 
  }
  40% { 
    --y-shake:0;
    --x-shake:-1; 
  }
  50% { 
    --y-shake:1;
    --x-shake:1; 
  }
  60% { 
    --y-shake:-1;
    --x-shake:1; 
  }
  70% { 
    --y-shake:1;
    --x-shake:0; 
  }
  80% { 
    --y-shake:0;
    --x-shake:0; 
  }
  90% { 
    --y-shake:0;
    --x-shake:1; 
  }
  100% { 
    --y-shake:1;
    --x-shake:-1; 
  }
}
@keyframes wobble {
  0% { --y-wobble:1 }
  25% { --y-wobble:0.5 }
  50% { --y-wobble:0 }
  75% { --y-wobble:-0.5 }
  100%  { --y-wobble:-1 }
}
@keyframes flicker {
  0% { opacity: var(--flicker-max); }
  2% { opacity: var(--flicker-min); }
  7% { opacity: var(--flicker-max); }
  7.5% { opacity: var(--flicker-min); }
  8% { opacity: var(--flicker-max); }
  9% { opacity: var(--flicker-min); }
  9.5% { opacity: var(--flicker-max); }
  10.5% { opacity: var(--flicker-min); }
  12% { opacity: var(--flicker-max); }
  25% { opacity: var(--flicker-min); }
  29% { opacity: var(--flicker-max); }
  29.5% { opacity: var(--flicker-min); }
  30% { opacity: var(--flicker-max); }
  35% { opacity: var(--flicker-min); }
  48% { opacity: var(--flicker-max); }
  55% { opacity: var(--flicker-min); }
  69% { opacity: var(--flicker-max); }
  73% { opacity: var(--flicker-min); }
  81% { opacity: var(--flicker-max); }
  81.5% { opacity: var(--flicker-min); }
  83% { opacity: var(--flicker-max); }
  83.5% { opacity: var(--flicker-min); }
  84% { opacity: var(--flicker-max); }
  85% { opacity: var(--flicker-min); }
  90% { opacity: var(--flicker-min); }
  93% { opacity: var(--flicker-max); }
  95% { opacity: var(--flicker-min); }
  95.5% { opacity: var(--flicker-max); }
  97% { opacity: var(--flicker-min); }
  100% { opacity: var(--flicker-max); }
}
@keyframes log-fadeInOut {
  0% {
    opacity:0;
    transform:translatey(5px);
  }
  10% {
    opacity:1;
    transform:translatey(0px);
  }
  55% {
    opacity:1;
    transform:translatey(-5px);
  }
  100% {
    opacity:0;
    transform:translatey(-10px);
  }
}
@keyframes log-fadeInOut-cursor {
  0% {
    opacity:1;
    transform:translatey(-10px);
  }
  30% {
    opacity:1;
  }
  100% {
    opacity:0;
    transform:translatey(-80px);
  }
}
@keyframes log-opaque {
  100% {
    opacity:1;
  }
}

@keyframes rainbow {
  from {
    filter:hue-rotate(0deg);
  }
  to {
    filter:hue-rotate(360deg);
  }
}
@keyframes centeredSpin {
  from {
    transform:translate(-50%,-50%) rotate(0deg) scale(1.08);
  }
  to {
    transform:translate(-50%,-50%) rotate(360deg) scale(1.0);
  }
}
