
/*####################
LOG SELECTORS
####################*/
.textDisplay {
  pointer-events:none;
  text-align:center;
  z-index:90000;
  transform:translatey(calc((var(--tile-height) * 0.8) * -1));
}
.PlayerTextDisplay p {
  filter:drop-shadow(4px 1px 2px rgb(198, 32, 74)) drop-shadow(-4px -1px 2px rgb(29, 45, 187)) drop-shadow(0 0 10px var(--bg-shadow));
}
.FollowCursorTextDisplay p {
  filter:drop-shadow(0 0 10px var(--bg-shadow));
}
.textDisplay p {
  --log-persistence:15000ms;
  opacity:0;
  transform:translatey(10px);
  animation:var(--log-persistence) forwards log-fadeInOut;
}
.textDisplay p.log-center {
  filter:drop-shadow(0 0 5px red);
}
.textDisplay p.log-cursor {
  animation:var(--log-persistence) linear forwards log-fadeInOut-cursor;
}
.textDisplay p.log-cursor > span {
  opacity:1;
  animation:none;
  /* animation:0.4s calc(var(--mod-index) * 0.1s) infinite linear alternate-reverse shake; */
            /* 1s calc(var(--rand) * 1s) infinite linear alternate wobble, */
            /* 0.15s forwards log-opaque; */
}
.textDisplay p > span {
  --x-shake:0;
  --y-shake:0;
  --y-wobble:0;
  opacity:0.3;
  animation:1s calc(var(--mod-index) * 0.1s) infinite linear alternate-reverse shake,
            0.4s calc(var(--index) * 0.04s + 0.7s) forwards log-opaque;
  display:inline-block;
  translate:calc(var(--x-shake) * 0.5px) calc(var(--y-shake) * 0.5px);
  white-space:pre;
  will-change:transform;
}
.FollowCursorTextDisplay {
  position:absolute;
  top:0;
  left:0;
}
.PersistentCursorTextDisplay {
  --x:0;
  --y:0;
  position:absolute;
  top:0;
  left:0;
  transform:translate(calc(var(--x) * 1px - 50%),calc(var(--y) * 1px - 100%));
  pointer-events:none;
  color:var(--bg-white);
}
.PersistentCursorTextDisplay.state-down {
  transform:translate(calc(var(--x) * 1px - 50%),calc(var(--y) * 1px - 100%));
}
.PersistentCursorTextDisplay.state-up {
  transform:translate(calc(var(--x) * 1px - 50%),calc(var(--y) * 1px - 200%));
}
.FollowCursorTextDisplay p {
  position:absolute;
  top:calc(var(--y) * 1px);
  left:calc(var(--x) * 1px);
  translate:-50% 400%;
  white-space:nowrap;
  will-change:transform;
}
.log-persistent-cursor {
  position:relative;
  left:5px;
  top:5px;
  transform:translate(50%,100%);
  display:flex;
  flex-wrap:wrap;
  padding:5px;
  border-radius:10px;
  justify-content:center;
  align-items:center;
  max-width:240px;
}
.log-persistent-cursor.log-persistent-cursor-lore {
  flex-direction:column;
  translate:-50% -20px;
  filter:drop-shadow(0 0 10px var(--bg-shadow-dark));
  font-style:italic;
}
.log-persistent-cursor.log-persistent-cursor-lore * {
  margin:3px 0;
}
.log-persistent-cursor.log-persistent-cursor-reqs {
  flex-direction:row;
  box-sizing:border-box;
  background-color:var(--bg-shadow);
  box-shadow:0 3px 0 var(--bg-shadow-dark);
}
.log-persistent-cursor .log-pretext {
  flex-basis:100%;
  margin-top:-10px;
  margin-bottom:10px;
  font-size:0.8em;
  animation:none;
  opacity:1;
}
.log-persistent-cursor .log-statText, .log-persistent-cursor .log-cardText {
  margin:3px;
  padding:3px 10px;
  border-radius:1000px;
  font-weight:bold;
  background-color:var(--bg);
  position:relative;
  text-transform:capitalize;
}
.log-persistent-cursor .log-statText:before, .log-persistent-cursor .log-cardText:before {
  content:"";
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:calc(100% + 3px);
  z-index:-1;
  background-color:var(--bg);
  border-radius:1000px;
  filter:brightness(0.75) saturate(1.2);
}
.log-persistent-cursor .log-statText {
  --bg:var(--fillColor);
  color:var(--txtColor);
}
.log-persistent-cursor .log-cardText {
  --bg:var(--color);
}